[Unit]
Description=sends requests to keep internet conneted

[Service]
User=root
WorkingDirectory=/etc/miner
ExecStart=/etc/miner/internet.sh
ExecReload=/etc/miner/internet.sh
Restart=always

[Install]
WantedBy=multi-user.target